{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container">
   <div class="row" style="margin-top:30px;">
       <!-- Empty div -->
       <div class="col-md-4">
       <img src="/static/images/insta.png">
       </div>
       <div class="col-md-4">
           {% if form.errors %}
           <p> Password or Username is incorrect </p>
           {% endif %}
           <div class="john">
           <div class="card card-default">

               <div class="card-heading">
                   <h3 class="text-center" id="login">Instagram</h3>

               </div>
               <div class="card-body">

                   <form action="/accounts/login/" method="post">
                       {% csrf_token %}


                       {% bootstrap_form form%}

                       <div class="form-group">
                           <input type="submit" class="btn btn-primary btn-block btn-sm" value="Login">
                       </div>

                       <input type="hidden" name="next" value="{{next}}">

                   </form>
               </div>

           </div>
           <div class="card" style="margin-top:10px;">
               <div class="card-body">
                   Don't have an account? <a href="/accounts/register/">Sign up</a>
               </div>
           </div>
           </div>


       </div>
       <!-- empty div -->
       <div class="col-md-4"></div>
   </div>
</div>
<style>
.john{
   float: right;
}
</style>

{% endblock %}